footer.container-fluid.myfooter
			div.container(style={'margin-top': '50px'})
				.row
					.col-md-6
						.col-md-12
							p(style={'font-size': '20px', 'color': '#3c3c3c', 'font-weight': '400','font-family': 'Time News Roman'}) Payment Methods
						div.col-md-12(style={'margin-top': '20px'})
							span 
								img.pay(src='img/visa.png')
							span 
								img.pay(src='img/mastercard.png')
							span 
								img.pay(src='img/AME.png')
							span 
								img.pay(src='img/paypal.png')
							span 
								img.pay(src='img/tq.PNG')
							span 
								img.pay(src='img/applepay.PNG')
							span 
								img.pay(src='img/chat.PNG')
					.col-md-6(style={'font-family': 'Time News Roman', 'font-weight': '400', 'color': '#3c3c3c', 'font-size': '15px'})
						p 	Multiple Payment Options
						p 	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry is standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						|	Lorem Ipsum passages and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..email away. Keep in touch with us for the best deals in Singapore
			.container.myheader(style={'margin-top': '30px'})
				.row
					.col-md-3
						h4 CONTACT US
						span
							a(href='') Help Center#[br]
						span
							a(href='') Payment#[br]
						span
							a(href='') How to buy#[br]
						span
							a(href='') How to return#[br]
						span
							a(href='') Contact us
					.col-md-4
						h4 QOOSERVICE
						span
							a(href='') About Qoo#[br]
						span
							a(href='') Sell on Qoo#[br]
						span
							a(href='') Careers#[br]
						span
							a(href='') Tems and Condition#[br]
						span
							a(href='') Privacy Policy#[br]
						span
							a(href='') Press & Media#[br]
						span
							a(href='') All Brands#[br]
						span
							a(href='') Campainge Term & COndition
					.col-md-4
						h4 SUBSCRIBE
						span
							input.form-control(type='text', name='txtDCM', placeholder='Your email address')
						span
							button.btn(type='submit', name='sign', value='SIGNUP', style={height: '34px',background: '#e8a131','border-color': '#e8a131','color': 'white','margin-top': '15px'}) SIGN UP
						h4(style={'margin-top': '40px'}) FOLLOW US
						span
							a(href='')
								i.fa.fa-facebook-square.fa-3x.social
							a(href='')
								i.fa.fa-twitter-square.fa-3x.social
							a(href='')
								i.fa.fa-envelope-square.fa-3x.social
							a(href='')
								i.fa.fa-camera.fa-3x.social
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
script(src='/js/bootstrap/bootstrap.min.js')
script(src='/js/slider.js')
script(src='/js/clickmenu_hide_show.js')
script(src='js/submenu.js')
script(src='js/scroll.js')