doctype html
html
	head
		title="Qoo"
		link(href="/css/bootstrap/css/bootstrap.min.css",rel="stylesheet",type="text/css")
		link(href="/css/main.css",rel="stylesheet",type="text/css")
		link(href="/css/home.css",rel="stylesheet",type="text/css")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap/bootstrap.min.js")
		script(src="/js/main.js")
	body
		a(href="/add_service_provider_form") Register
		
		a(href="/login_form") Login

	