doctype html
html
	head
		title My Cart
		include link_css.pug
	body
		include head.pug
		.container-fluid
			.container.myfooter
				span
					p(style='margin:10px;') Home/ My shopping cart
			.container.myfooter(style='margin-top:30px;')
				h3(style='color:#135894')
					strong MY SHOPPING CART
			.container(style='margin-top:30px;')
				.row
					.col-sm-9.col-md-9.col-xs-12
						table.table.table-condensed
							thead
								tr
									.row
										td.col-sm-8.col-md-7.col-xs-8 5 ITEMS
										td.col-sm-1.col-md-2.col-xs-1 PRICE
										td.col-sm-2.col-md-2.col-xs-2 QUANTITY
										td.col-sm-1.col-md-1.col-xs-1
						table.table.table-condensed
							tbody
								tr.active
									.row
										td.col-sm-8.col-md-7.col-xs-5
											.media
												a.pull-left(href='#')
													img.media-object(src='./img/slider/2.PNG', style='width:150px; height:120px;')
												.media-body
													.media-heading Cooking class for children
													.media-heading
														h5 Chef G.R
													div(style='color:#f8a827; font-size:15px;')
														|✓ Available
										td.col-sm-1.col-md-2.col-xs-1
											strong USD 30.00
										td.col-sm-2.col-md-2.col-xs-2
											div
												input#quantity.text-center(type='number', value='1', min='1', max='10')
										td.col-sm-1.col-md-1.col-xs-1
											a(href='/cart/change?line={{ forloop.index }}&quantity=0')
												button.close(type='button', aria-label='Close')
													span(aria-hidden='true') ×
						table.table.table-condensed
							tbody
								tr.active
									td.col-sm-8.col-md-7.col-xs-5
										.media
											a.pull-left(href='#')
												img.media-object(src='./img/slider/3.PNG', style='width:150px; height:120px;')
											.media-body
												.media-heading Pet Washing Service
												.media-heading
													h5 PetLove
												div(style='color:#f8a827; font-size:15px;')
													|✓ Available
									td.col-sm-1.col-md-2.col-xs-1
										strong USD 25.00
									td.col-sm-2.col-md-2.col-xs-2
										div
											input#quantity.text-center(type='number', value='1', min='1', max='10')
									td.col-sm-1.col-md-1.col-xs-1
										a(href='/cart/change?line={{ forloop.index }}&quantity=0')
											button.close(type='button', aria-label='Close')
												span(aria-hidden='true') ×
						table.table.table-condensed
							tbody
								tr.active
									td.col-sm-8.col-md-7.col-xs-5
										.media
											a.pull-left(href='#')
												img.media-object(src='./img/slider/6.PNG', style='width:150px; height:120px;')
											.media-body
												.media-heading Absolutely Haircare Combo -3 in 1 pack
												.media-heading
													h5 Absolute HairSalon
												div(style='color:#f8a827; font-size:15px;')
													|✓ Available
									td.col-sm-1.col-md-2.col-xs-1
										strong USD 75.00
									td.col-sm-2.col-md-2.col-xs-2
										div
											input#quantity.text-center(type='number', value='1', min='1', max='10')
									td.col-sm-1.col-md-1.col-xs-1
										a(href='/cart/change?line={{ forloop.index }}&quantity=0')
											button.close(type='button', aria-label='Close')
												span(aria-hidden='true') ×
						table.table.table-condensed
							tbody
								tr.active
									td.col-sm-8.col-md-7.col-xs-5
										.media
											a.pull-left(href='#')
												img.media-object(src='./img/slider/7.PNG', style='width:150px; height:120px;')
											.media-body
												.media-heading Camera Repair
												.media-heading
													h5 Handy Man
												div(style='color:#f8a827; font-size:15px;')
													|✓ Available
									td.col-sm-1.col-md-2.col-xs-1
										strong USD 10.00
									td.col-sm-2.col-md-2.col-xs-2
										div
											input#quantity.text-center(type='number', value='1', min='1', max='10')
									td.col-sm-1.col-md-1.col-xs-1
										a(href='/cart/change?line={{ forloop.index }}&quantity=0')
											button.close(type='button', aria-label='Close')
												span(aria-hidden='true') ×
					.col-md-3.col-sm-3.col-xs-12
						span
							h4(style='color:black;') Order Summary
						hr(style='background-color:#135894;height:1px;')
						span
							.row
								.col-sm-6.col-md-6.col-xs-6
									h5(style='font-size:15px;') Sub Total
								.col-sm-6.col-md-6.col-xs-6
									h5(style='font-size:15px;') USD 170.00
							hr(style='background-color:#135894;height:1px;')
						span
							.row
								.col-sm-6.col-md-6.col-xs-6
									h5(style='font-size:15px;')
										strong Total
										| ( VAT included)
								.col-sm-6.col-md-6.col-xs-6
									h5(style='font-size:20px;') USD 170.00
						span
							.col-sm-12.text-center(style='margin-top:20px;')
								form(action='/checkout.html', method='GET')
									button.btn.btn-primary(type='submit', style='background-color:#135894')
										| PROCEED TO CHECKOUT
		include foot.pug