doctype html
html
	head
		title Service Comparision
		include link_css.pug
	body
		include head.pug
		.container.myfooter
			span
				p(style='margin:10px;') Home/ Service Comparision
		.container.myfooter(style='margin-top:30px;')
			span
				p(style='margin:10px;color:#135894;font-weight:600;font-size:20px') SERVICE COMPARISION
		.container(style='margin-top:20px;')
			.row
				.col-xs-12.col-md-12
					p(style='padding-left:60px;') Choose type service
			.row
				.col-xs-12.col-md-12
					table.table.table-bordered
						tbody(style='border-top:1px solid white;text-align: center;')
							tr
								td.left-table(style='border-left:1px solid white;')
									div
										select
											option Home renovation
									div
										p.rowCO  Share your comparision
									div
										span.icon-circle.text-center
											a.ifacebook(href='#', title='Facebook')
												i.fa.fa-facebook
											a.itwittter(href='#', title='Twitter', style='margin-left:10px;')
												i.fa.fa-twitter
								td(style=' width:calc(100% - 280px);')
									#top_container.scroller(style='position:static;')
										table(celpadding='0', cellspacing='0')
											tbody
												tr
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														div(style='height:160px;')
															img.img-responsive.center-block(src='./img/renovation.PNG')
														p.fontH4 Richard Renovations
														img.img-responsive.center-block.rowSC(src='./img/close.PNG')
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														div(style='height:160px;')
															img.img-responsive.center-block(src='./img/remodern.PNG')
														p.fontH4 Remodern Homes
														img.img-responsive.center-block.rowSC(src='./img/close.PNG')
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														div(style='height:160px;')
															img.img-responsive.center-block(src='./img/company.PNG')
														p.fontH4 De novo
														img.img-responsive.center-block.rowSC(src='./img/close.PNG')
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														div(style='height:160px;')
															img.img-responsive.center-block(src='./img/company.PNG')
														p.fontH4 Remodern Homes
														img.img-responsive.center-block.rowSC(src='./img/close.PNG')
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														div(style='height:160px;')
															img.img-responsive.center-block(src='./img/company.PNG')
														p.fontH4 Remodern Homes
														img.img-responsive.center-block.rowSC(src='./img/close.PNG')
							tr
								td.left-table.colorc1(style='border-left:1px solid white;')
									ul.compare_bottom_left
										li
											div Price
										li
											div Year in business
										li.heightAT
											div Number of employee
										li.heightAT
											div Years of experience
										li.heightAT
											div Consumer Satisfaction
										li.heightAT
											div Consumer Disatisfaction
										li.heightAT.heightmin767
											div Price & Fees Ratings
										li.heightAT.heightmin767
											div Friendliness Ratings
										li.heightAT
											div Number of Highly Recommend
										li.heightAT
											div Number of Recommend
										li.heightAT
											div Number Neutral
										li.heightAT
											div Number of Unrecommend 
										li.heightAT
											div Number of Positive Review
										li.heightAT
											div Number of Neutral Review
										li.heightAT
											div Number of Negative Review
										li.heightAT
											div Photo & Images of services
										li
											div CASE Trust
								td(style=' width:calc(100% - 280px);')
									.scroller(style='overflow-x:hidden; display: block; height:auto')
										table(celpadding='0', cellspacing='0')
											tbody
												tr
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														ul#ul2.compare_bottom_right
															li
																div 1
															li
																div 10
															li.heightAT
																div 8
															li.heightAT
																div 4
															li.heightAT
																div 6
															li.heightAT
																div 2
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/1.PNG')
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/4.PNG')
															li.heightAT
																div
																	img(src='./img/comparision/7.PNG', width='18px', height='18px')
																	| 10
															li.heightAT
																div
																	img(src='./img/comparision/8.PNG', width='18px', height='18px')
																	| 8
															li.heightAT
																div
																	img(src='./img/comparision/9.PNG', width='18px', height='18px')
																	| 3
															li.heightAT
																div
																	img(src='./img/comparision/10.PNG', width='18px', height='18px')
																	| 2
															li.heightAT
																div 10
															li.heightAT
																div 2
															li.heightAT
																div 1
															li.heightAT
																div Click here
															li
																div Yes
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														ul#ul2.compare_bottom_right
															li
																div 2
															li
																div 10
															li.heightAT
																div 8
															li.heightAT
																div 4
															li.heightAT
																div 6
															li.heightAT
																div 2
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/1.PNG')
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/4.PNG')
															li.heightAT
																div
																	img(src='./img/comparision/7.PNG', width='18px', height='18px')
																	| 10
															li.heightAT
																div
																	img(src='./img/comparision/8.PNG', width='18px', height='18px')
																	| 8
															li.heightAT
																div
																	img(src='./img/comparision/9.PNG', width='18px', height='18px')
																	| 3
															li.heightAT
																div
																	img(src='./img/comparision/10.PNG', width='18px', height='18px')
																	| 2
															li.heightAT
																div 10
															li.heightAT
																div 2
															li.heightAT
																div 1
															li.heightAT
																div Click here
															li
																div Yes
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														ul#ul3.compare_bottom_right
															li
																div 3
															li
																div 10
															li.heightAT
																div 8
															li.heightAT
																div 4
															li.heightAT
																div 6
															li.heightAT
																div 2
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/1.PNG')
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/4.PNG')
															li.heightAT
																div
																	img(src='./img/comparision/7.PNG', width='18px', height='18px')
																	| 10
															li.heightAT
																div
																	img(src='./img/comparision/8.PNG', width='18px', height='18px')
																	| 8
															li.heightAT
																div
																	img(src='./img/comparision/9.PNG', width='18px', height='18px')
																	| 3
															li.heightAT
																div
																	img(src='./img/comparision/10.PNG', width='18px', height='18px')
																	| 2
															li.heightAT
																div 10
															li.heightAT
																div 2
															li.heightAT
																div 1
															li.heightAT
																div Click here
															li
																div Yes
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														ul#ul4.compare_bottom_right
															li
																div 4
															li
																div 10
															li.heightAT
																div 8
															li.heightAT
																div 4
															li.heightAT
																div 6
															li.heightAT
																div 2
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/1.PNG')
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/4.PNG')
															li.heightAT
																div
																	img(src='./img/comparision/7.PNG', width='18px', height='18px')
																	| 10
															li.heightAT
																div
																	img(src='./img/comparision/8.PNG', width='18px', height='18px')
																	| 8
															li.heightAT
																div
																	img(src='./img/comparision/9.PNG', width='18px', height='18px')
																	| 3
															li.heightAT
																div
																	img(src='./img/comparision/10.PNG', width='18px', height='18px')
																	| 2
															li.heightAT
																div 10
															li.heightAT
																div 2
															li.heightAT
																div 1
															li.heightAT
																div Click here
															li
																div Yes
													td(style='border-right:1px solid #c2c2c2; width:250px;')
														ul#ul4.compare_bottom_right
															li
																div 5
															li
																div 10
															li.heightAT
																div 8
															li.heightAT
																div 4
															li.heightAT
																div 6
															li.heightAT
																div 2
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/1.PNG')
															li.heightAT.heightmin767
																div
																	img.img-responsive.center-block(src='./img/comparision/4.PNG')
															li.heightAT
																div
																	img(src='./img/comparision/7.PNG', width='18px', height='18px')
																	| 10
															li.heightAT
																div
																	img(src='./img/comparision/8.PNG', width='18px', height='18px')
																	| 8
															li.heightAT
																div
																	img(src='./img/comparision/9.PNG', width='18px', height='18px')
																	| 3
															li.heightAT
																div
																	img(src='./img/comparision/10.PNG', width='18px', height='18px')
																	| 2
															li.heightAT
																div 10
															li.heightAT
																div 2
															li.heightAT
																div 1
															li.heightAT
																div Click here
															li
																div Yes
		include foot.pug