doctype html
html
	head
		title Service Type Education
		include link_css.pug
	body
		include head.pug
		.container-fluid.mycontent
			.container.myfooter
				span
					p(style='margin:10px;') Home/ Education/ Enrichment classes for children
			.container.mydetail(style='margin-top:30px;')
				h4 New services
			.container.text-center(style='background-color:white;')
				.spe-cor
					#new.carousel.carousel-correspondence.slide(data-ride='carousel', data-interval='12000')
						.col-sm-12.col-md-12
							.carousel-inner
								.item.active
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/1.PNG', alt='a')
												h6 Guitar course 
												h5 USD 10.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/2.PNG', alt='a')
												h6 Cooking class for kids
												h5 USD 99.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/3.PNG', alt='a')
												h6 Pet care
												h5 USD 199.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/4.PNG', alt='a')
												h6
													| Lorem ispum is simply dummy text
													| of the printing and typesetting
												h5 USD 10.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/5.PNG', alt='a')
												h6 Guitar course 
												h5 USD 10.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/6.PNG', alt='a')
												h6
													| Lorem ispum is simply dummy text
													| of the printing and typesetting
												h5 USD 10.00
							a.left.carousel-control(data-slide='prev', href='#new', style='margin-top:80px;')
								span.glyphicon.glyphicon-chevron-left(style='color:#135894;')
							a.right.carousel-control(data-slide='next', href='#new', style='margin-top:80px;')
								span.glyphicon.glyphicon-chevron-right(style='color:#135894;')
			// end news services
			// top services
			.container.mydetail(style='margin-top:30px;')
				h4 Top services
			.container(style='background-color:white;')
				.spe-cor
					#top.carousel.carousel-correspondence.slide(data-ride='carousel', data-interval='5000')
						.col-sm-12.col-md-12
							.carousel-inner
								.item.active
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/7.PNG', alt='a')
												h6 Camera Repair- only $10
												h5 USD 10.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/6.PNG', alt='a')
												h6 Cooking class for kids
												h5 USD 99.00
												h5.lineThrough.sale USD 165.00
												h5.sale - 60%
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/8.PNG', alt='a')
												h6 Pet care
												h5 USD 199.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/9.png', alt='a')
												h6
													| Lorem ispum is simply dummy text
													| of the printing and typesetting
												h5 USD 10.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/10.png', alt='a')
												h6 Guitar course 
												h5 USD 10.00
								.item
									.col-xs-12.col-sm-4.col-md-3.col-sm-5cols
										.row
											a(href='')
												img.img-responsive.center-block(src='./img/slider/1.PNG', alt='a')
												h6
													| Lorem ispum is simply dummy text
													| of the printing and typesetting
												h5 USD 10.00
							a.left.carousel-control(data-slide='prev', href='#top', style='margin-top:80px;')
								span.glyphicon.glyphicon-chevron-left(style='color:#135894;')
							a.right.carousel-control(data-slide='next', href='#top', style='margin-top:80px;')
								span.glyphicon.glyphicon-chevron-right(style='color:#135894;')
			// end slide top services
			// Enrich class for children
			.container.mydetail(style='margin-top:30px;')
				h4 Enrich class for children
			.container
				.spe-cor
					.row.mycontent
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/1.PNG', alt='a')
									h6 Camera Repair- only $10
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/2.PNG', alt='a')
									h6 Cooking class for kids
									h5 USD 99.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/3.PNG', alt='a')
									h6 Pet care
									h5 USD 199.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/4.PNG', alt='a')
									h6
										| Lorem ispum is simply dummy text
										| of the printing and typesetting
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/5.PNG', alt='a')
									h6
										| Lorem ispum is simply dummy text
										| of the printing and typesetting
									h5 USD 10.00
					// column
					.row.mycontent
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/6.PNG', alt='a')
									h6 Monthly Family Dentist
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/7.PNG', alt='a')
									h6 Professional House Maid
									h5 USD 99.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/8.PNG', alt='a')
									h6 Expert Gardening service
									h5 USD 199.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/9.PNG', alt='a')
									h6 Pest exterminator
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/10.PNG', alt='a')
									h6 Baby sitter
									h5 USD 10.00
					.row.mycontent
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/11.PNG', alt='a')
									h6 Monthly Family Dentist
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/12.PNG', alt='a')
									h6 Professional House Maid
									h5 USD 99.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/13.PNG', alt='a')
									h6 Expert Gardening service
									h5 USD 199.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/14.PNG', alt='a')
									h6 Pest exterminator
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/15.PNG', alt='a')
									h6 Baby sitter
									h5 USD 10.00
					.row.mycontent
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/16.PNG', alt='a')
									h6 Monthly Family Dentist
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/17.PNG', alt='a')
									h6 Professional House Maid
									h5 USD 99.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/18.PNG', alt='a')
									h6 Expert Gardening service
									h5 USD 199.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/19.PNG', alt='a')
									h6 Pest exterminator
									h5 USD 10.00
						// column
						.col-xs-12.col-sm-5cols
							.thumbnail
								a(href='')
									img.center-block(src='./img/Enrich/20.PNG', alt='a')
									h6 Baby sitter
									h5 USD 10.00
			.container(style='background-color:#f5f5f5')
				.row
					.col-xs-12.col-lg-6.col-lg-offset-6(style='padding-top:40px;padding-bottom:30px;')
						.row
							.col-xs-12.col-lg-4
								h5(style='color:#4f4f4f;padding-top:10px;')
									| Item per pages  
									select(style='background-color:#e0e0e0;width:50px;height:30px; margin-left:10px;')
										option 5
										option 10
										option 15
										option 20
										option 25
							.col-xs-12.col-lg-8
								nav(aria-label='Page navigation example')
									ul.pagination
										li.page-item
											a.page-link(href='#') 1
										li.page-item
											a.page-link(href='#') 2
										li.page-item
											a.page-link(href='#') 3
										li.page-item
											a.page-link(href='#') 4
										li.page-item
											a.page-link(href='#') 5
										li.page-item
											a.page-link(href='#') ...
										li.page-item
											a.page-link(href='#') 100
								style.
									.pagination li a {
									background-color:#e0e0e0;
									color:black;
									}
									.pagination li a:hover{
									background-color: #959595;
									}
		include foot.pug