doctype html
html
	head
		title Sign Up
		include link_css.pug
	body
		include head.pug
		.container-fluid.mycontent
			.container(style='margin-top:100px;margin-bottom:100px;border:1px solid #a8a8a8; background-color:white;')
				.row
					.col-md-12
						h3
							strong SERVICE PROVIDER REGISTRATION
						br
				.row
					// form register
					.col-md-9
						span
							form(action='', method='')
								.row.form-group
									label.col-sm-3.control-label(for='Fname', style='text-align:right;')
										| First name
										i(style='color:red') *
									.col-sm-9
										input#txtFName.form-control(type='text', required='')
								.row.form-group
									label.col-sm-3.control-label(for='email', style='text-align:right;')
										| Email
										i(style='color:red') *
									.col-sm-9
										input#txtMAil.form-control(type='email', required='')
								.row.form-group
									label.col-sm-3.control-label(for='email', style='text-align:right;')
										| Email verify
										i(style='color:red') *
									.col-sm-9
										input#txtMAil.form-control(type='email', required='')
								.row.form-group
									label.col-sm-3.control-label(for='pass', style='text-align:right;')
										| Password
										i(style='color:red') *
									.col-sm-9
										input#txtPass.form-control(type='password', required='')
										span (minimum 8 characters contain Text, Symbols, Upper & Lower case, and Numeric)
								.row.form-group
									label.col-sm-3.control-label.text-right(for='mobile')
										| Mobile number
										i(style='color:red') *
									.col-sm-3
										input#txtMAil.form-control(type='tel', required='')
									label.col-sm-3.control-label(for='telephone')
										| Telephone number
										i(style='color:red') *
									.col-sm-3
										input#txtMAil.form-control(type='tel', required='')
								.row.form-group
									label.col-sm-3.control-label(for='business', style='text-align:right;')
										| Business Adress
										i(style='color:red') *
									.col-sm-9
										input#txtPass.form-control(type='text', required='')
								.row.form-group
									label.col-sm-3.control-label(for='country', style='text-align:right;') Country
									.col-sm-9
										input#txtPass.form-control(type='text')
								.row.form-group
									label.col-sm-3.control-label(for='region', style='text-align:right;') Region in  Singapore
									.col-sm-9
										select.form-control(name='region', style='width:200px;')
											option Central
								.row.form-group
									label.col-sm-12.control-label(for='region')
										p Are you individually represented or company represented?
								.row.form-group.col-sm-12
									select.form-control(name='SL2', style='width:200px;')
										option Individual represented
								.row.form-group
									.col-sm-10.col-sm-offset-2.text-center
										button#sb.btn.btn-primary(type='submit', value='submit') SIGN UP
								.col-sm-12.form-group
					// end form register
					// Sign Facebook and Google
					.col-md-3
						div(style='margin-bottom:50px;')
							a.btn.btn-block.btn-social.btn-facebook
								i.fa.fa-facebook
								|  Sign in with Facebook
							a.btn.btn-block.btn-social.btn-google-plus
								i.fa.fa-google-plus
								|  Sign in with Google
					// end  Sign Facebook and Google
		include foot.pug